@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100&family=Montserrat:wght@100;300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 500;
  color:rgb(34, 34, 34)
}

:root {
  --weekly-item-border: rgba(255, 255, 255, 0.479);
  --location-info-bg: rgb(255, 255, 255);
  --location-color: rgb(255, 255, 255);
  --location-time-color: rgb(255, 255, 255);
  --immediate-bg: rgb(76, 159, 228);
  --weather-state-bg: rgb(32, 32, 32);
  --noticable-text: rgb(219, 219, 219);
  --flat-text: rgb(250, 250, 250);
  --weekly-color: rgb(255, 255, 255);
  --min-color: rgb(255, 255, 255);
  --max-color: rgb(255, 255, 255);
  --weekly-bg: rgba(33, 33, 33, 0.986);
  --secondary-data__item__middleBg: rgb(30, 178, 246);
  --search-wrapper: rgb(22, 22, 22);
  --btn-bg: rgb(69, 69, 69);
  --btn-hover: rgb(80, 80, 80);
}

.weekly {
  display: flex;
  justify-content: space-between;
  /* padding: 10px; */
  /* background: var(--weekly-bg); */
  border-radius: 5px;
  margin-bottom: 100px;
}

.location-info {
  /* background-color: var(--location-info-bg); */
  padding: 10px;
  border-radius: 45px;
}

.weekly-item {
  margin: 0 10px;
  padding: 10px;
  /* border-right: .5px solid var(--weekly-item-border); */
  /* text-shadow:#000000 2px 1px 5px; */
  background: var(--weekly-bg);
  /* box-shadow: #000000 2px 1px 5px; */
  border-radius: 10px;
  /* background-color: rgba(0, 0, 0, 0.072); */
}

.weekly-item:nth-child(7) {
  border-right: 0;
}

.item-day {
  font-size: 24px;
}

.weekly-item > *{
  color: var(--weekly-color);
  padding: 1px;
}

.min-max {
  display: flex;
  justify-content: center;
}

.min-max > span{
  color: var(--max-color);
  
}

.min-max .item-min{
  color: var(--min-color);
  font-size: 16px;
}

.min-max .item-max{
  padding-right: 5px;
  font-size: 20px;
}



.loading {
  
  border: 15px solid lightgrey;
  width: 150px;
  height: 150px;
  border-top: 15px solid rgb(44, 245, 194);
  border-radius: 50%;
  animation: loading 2s ease-in-out infinite;
}

.loading-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.off {
  display: none;
}

.search-wrapper {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  background-color: var(--search-wrapper);
  padding: 10px;
  box-shadow: 0px 3px 10px 2px rgb(0, 0, 0);
  z-index: 999;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search-container {
  display: flex;
  background-color: none;
  width: fit-content;
  margin-bottom: 5px;
}

.search-container input{
  border-radius: 2px;
  border-style: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  border: 1px solid rgba(70, 70, 70, 0.178);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px 0;
  padding-left: 3px;
  max-width: 400px;
  background-color: rgb(245, 245, 245);
}

.search-container input:focus {
  outline: none !important;
}

.search-container button {
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  color: var(--search-wrapper);
  background: var(--btn-bg);
  width: 100px;
}

.search-wrapper svg {
  fill: rgb(70, 147, 246);
}

.search-container button:hover {
  background: var(--btn-hover);
}

.search-container-utils {
  display: flex;
  align-items: center;
  margin: 1px 0;
  margin-left: 6px;

}

#getLocationBtn {
  background: var(--btn-bg);
  min-width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#getLocationBtn > * {
  color: white;
}

#getLocationBtn:hover {
  background: var(--btn-hover);
}

#getLocationBtn {
  cursor: pointer;
}
.weather-container {
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
  'content content'
  'data data'
  ;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr .3fr;
}

.content {
  grid-area: content;
}

.data {
  grid-area: data;
  background: rgb(255, 255, 255);
  padding: 10px;
}



.immediate {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: light;
  padding-top: 80px;
  position: relative;
  z-index: 100;
  background-color: var(--immediate-bg);
}

.immediate::after {
  content: '';
  background: rgba(0, 0, 0, 0.454);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -200;
}

#location-name{
  font-size: 40px;
  color: var(--location-color);
}

#location-time-wrapper {
  text-align: center;
}

#location-time {
  color: var(--location-time-color);
  font-size: 50px;
  font-weight: 200;
}




.weather-state {
  display: flex;
  justify-content: space-between;
  background: var(--weather-state-bg);
}

.main-weather-wrapper {
  display: flex;
}

.main-weather-wrapper .weather-type{
  text-align: center;
}

.main-weather-temp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-weather-temp span:nth-child(1) {
  font-size: 30px;
}





.secondary-data {
  display: flex;
  justify-content: space-around;
  width: 50%;
  padding: 5px;
}

.secondary-data__item__type {
  font-size: 16px
}

.secondary-data__item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px;
}

.secondary-data__item > *{
  padding: 10px 0;
  text-align: center;
}
.secondary-data__item .secondary-data__item__middle{
  padding: 0;
}

.secondary-data__item__middle {
  height: 1px;
  background: var(--secondary-data__item__middleBg);
  width: 30px;
  margin: 0 auto;
  /* border-radius: 30%; */
}

/* Air Quality */

#air-good {
  color: rgb(58, 233, 52);
}

#air-fair {
  color: rgb(99, 187, 41);
}

#air-moderate {
  color: rgb(241, 238, 33);
}

#air-poor {
  color: rgb(202, 97, 27);
}

#air-verypoor {
  color: rgb(221, 26, 26);
}

/* Text Styles */

.flat-text {
  color:rgb(68, 68, 68);
  font-weight: 400;
  color: var(--flat-text);
}

.space-text {
  letter-spacing: 2px;
}

.noticable-text {
  font-size: 25px;
  font-weight: 500;
  color: var(--noticable-text);
}

.temp-middle {
  margin: 0 10px;
}
.flex-inline {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-inline span{
  display: flex;
  align-items: center;
}

.text-shadow {
  text-shadow: 2px 1px 2px #00000086;
}

@media (max-width:948px) {
  body {
    background-size: fill;
  }
  
  .weekly {
    margin-left: 5px;
    margin-right: 5px;
  }

  .noticable-text {
    font-size: 20px;
    font-weight: 500;
  }

  .weather-state {
    flex-direction: column;
  }

  .main-weather-wrapper {
    justify-content: center;
  }

  .secondary-data {
    padding: 20px 0;
    margin: 0 auto;
  }

  
}

@media (max-width:700px) {


  .immediate {
    padding-top: 80px;
  }

  .weekly {
    margin: 10px;
    flex-direction: column;
    width: 100%;
    background: 0;
    align-items: center;
    margin-bottom: 60px;
  }

  .weekly-item {
    width: 160px;
    padding: 35px 0;
    text-align: center;
    border-radius: 100px;
    /* border-bottom: 2px solid var(--weekly-item-border); */
    margin: 10px 0;
  }
  
  .weekly-item > span {
    font-size: px;
  }

  .weekly-item:last-child{
    border-bottom: 0;
  }

  .min-max > span{
    justify-content: center;
    font-size: 10px;
  } 

  .item-day{ 
    font-size: 35px;
  }


  .secondary-data {
    flex-direction: column;
  }

  .secondary-data__item {
    margin: 20px 0;
  }
}

@media screen  and (max-width: 454px) {
  .immediate {
    padding-top: 120px;
  }
  .search-container-utils {
    margin: 0;
  }
}